@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Welcome to Mvc5IdentityExample</h2>
    <hr />
</div>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="col-sm-6 col-md-4 col-sm-offset-1 col-md-offset-2">
            <div class="thumbnail">
                <img src="~/Content/img/user_account.png" class="user-account-img" alt="User Account Icon">
                <div class="caption text-center">
                    <h3>Manage Users Account</h3>
                    <p>Here you can manage other users accounts.</p>
                    <p>
                        @Html.ActionLink("Manage Accounts", "ViewUserAccounts", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/img/user_account.png" class="user-account-img" alt="User Account Icon">
                <div class="caption text-center">
                    <h3>Manage Your Account</h3>
                    <p>Here you can manage <strong>YOUR</strong> account.</p>
                    <p>
                        @Html.ActionLink("Manage Account", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-sm-6 col-md-4 col-sm-offset-1 col-md-offset-2">
            <div class="thumbnail">
                <img src="~/Content/img/user_account.png" class="user-account-img" alt="User Account Icon">
                <div class="caption text-center">
                    <h3>Create your account</h3>
                    <p>You should start by creating your own account.</p>
                    <p>
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/img/login_key.png" class="user-account-img" alt="User Account Login Icon">
                <div class="caption text-center">
                    <h3>Log into your account.</h3>
                    <p>If you already have an account use the link to log.</p>
                    <p>
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-success" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>